# IDE files
.idea/
desktop.ini

# Python cache
__pycache__/
*.pyc
*.pyo
*.pkl

# Dataset (do NOT upload)
ASL_Alphabet_Dataset/
data/

# Training logs
runs/
logs/

# Model weights
*.pth
*.pt

# System files
.DS_Store